.app{
    background:$mainBack;
    
}
.BG{
    position: fixed;
    top: 70px;
    left: 100px;
    background: $mainBack;
    width: 1000px;
    height: 700px;
    z-index: -1;
}
.authHeader {
    width: 100%;
    height: 10%;
}

.mobileBar{
    display: none;

}
.authBox{
    margin-left: 5vw;
    width: 90vw;
    height: 80vh;
    margin-top: 50px;
    box-shadow: 2px 5px 15px 2px;
 
}
.authLogo{
    width: 33%;
    height: 115px;
    border-right: 1.5px solid #ccc; 
    display: inherit;
}
.logo{
    width: 70px;
    height: 70px;
}
.authInputC{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.authHdrBtn{
    display: inherit;
    position: fixed;
    right: 0;
    width: 200px;
    height: 10%;
    border-left: 1.5px solid #ccc;  
    border-top: none;
    border-bottom:none;  
    background: $headerColor;
   
}
.authHdrBtn p {
    font-size: 30px;
    margin-top: 10px;
}
.pHdrBtn {
    position: fixed;
    right: 70px;
    top: 10px;
}

.authBtn{
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: $buttonColor;
}
.authBtn2{display: none;}
.header{

    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 0px 5px .5px;
    z-index: 2;
}

.logoC{
    display: flex;
    width:21%;
    border-right: 1.5px solid #ccc;
    
    
        position: fixed;
        left: 0;
        top: 0;
    
    
}
.mobileBar{
    display: none;
}
.dsktpHeader{
    display: flex;
    margin-left: 15%;
    
}
.findGroups{
       height: 68px;
   display: flex;
   justify-content: center;   
      width: 250px;
    border: none;    
   
}
.mappedGroups{
    width: 80%;
    margin-left: 20%;
}
.pGroups{
    font-size: 18px;
   margin-top: 25px;
   
}
.addGroups{
    display: inherit;
    
    
    
   
}
.paGroups{
    font-size: 18px;
    margin-top: 25px;
}
.headerName{
    display: inherit;
    width: 150px;
    height: 100%;
    border-left: 1.5px solid #ccc;
}
.name{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    
}
.profileImg{
    top:10px;
   
}
.hdrMenu{
    position: fixed;
    top: 70px;
    background: $headerColor;
    width:28%;
    box-shadow: -1px 4px 5px .2px;
    
    
    
}
.hdrMenu2{
    display: none;
}

.dash-posts{
    
    height: 100%;
    margin-top:0;
   display:flex;
   flex-direction: row;
   border-top:none;

}
.container{
    
    display:flex;
    flex-direction: row;
    border-top:none;
    background:$mainBack;
     margin-top: 70px;
     height:100%;
}
    
.navCtnr2{
     
    width: 100%;
}
.dsktpNav{
    display: flex;
   flex-direction: column;
   height: 100%;
   
   h2{
       margin-left: 10px;
       padding-bottom: 5px;;
       width:120px;
       border-bottom: 2px solid #ccc
   }
   
}
.mblNav{
    display:none;
}
.navOne {
    width: 100%;
    height:15vh;
    margin-left: 30%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    background: $secBack;
    
    
   h1{
       border: none;
       padding: 0px;
   }
}
.navMid{
    margin-left: 15%;
    height:5vh; 
    display: flex;
    
    
    
    h1{
        border: none;
       padding: 0;
       
    }
}
.navTwo {
    margin-left: 12%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: $secBack;
}
.navGroupList{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 25%;
    img{
        width:50px;
        height:50px;
        object-fit: cover;
        border-radius: 50px; 
    }
}
.dash{
    width: 21%;
    height:95vh;
    box-shadow: 1px 0px 5px .5px;
    border-top: none;
   
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    z-index: 1;

}

.postsCtnr{
    
    min-height: 800px;
   
    margin-top: 20px;
    width: 80%;
    background: $secBack;
   
    box-shadow: .5px .5px 5px 1px;
    border-top: 10px solid #49D6EF;
    margin-left: 27%;
    img{
        margin-left: 5%;
        width: 90%;
        height: 400px;
        object-fit: cover;
    }
}
.cardTitle{
    height: 20px;
    width: 100%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: flex-end;

}
.cardTitle h1 {
    font-size: 20px;
    margin: 0 3px;
}
.cardTitle h2 {
    font-size: 18px;
    margin: 0 3px;
}
.cardTitle h3 {
    font-size: 16px;
    margin: 0 3px;
    color: grey;
}
.cardTitle2{
   height:10px;
    width: 100%;
    display: flex;
    
    margin: 0 0 0 5%;
   
}
.cardTitle2 h2 {
    font-size: 18px;
    margin: 0 3px;
}
.cardTitle2 h3 {
    font-size: 16px;
    margin: 0 3px;
    color: grey;
}

.pCard {
    height: 20%;
    width: 90%;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    h4{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}
.nPostCntnr{
    height: 90vh;
}
.newPosts{
    margin-left: 25%;
}
.nPostTop{
    display: flex;
    margin-left: 25%;
    h1{
        margin-top: 25px;
        margin-left: 20px;
        font-size: 35px;
    }
}
.nPostImg{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    img{
        width:100px;
        height:100px;
        object-fit: cover;
        border-radius: 50px;
    }
}
.nPFlex{
    display: flex;
    margin-left: 15%;
    margin-top: 20px;
}
.nPFlexMid{
    display: flex;
    flex-direction: column;
}
.nPostInput{
    width: 400px;
    height: 30px;    
}
.nPostContent{
    width: 400px;
}
.postBtn{
    margin-top: 20px;
}
.deletePost{
    margin-bottom: 50px;
}
.addGroup{
    width: 100%;
    height: 90vh;
   
}
.newGroup{
    background: white;
    width: 68%;
    height: 90%;
    margin-left: 25%;
    margin-top: 3%;
    box-shadow: .5px .5px 5px 1px;  
}
.nGroupTop{
    height: 25%;
    margin-left: 10px;    
    display: flex;
    h1{
        margin-top: 40px;
        margin-left: 20px;
        font-size: 40px;
    }
}
.nGFlex{
    height:8%;
    
    display: flex;
    
}
.nGInput{

    width: 550px;
    height: 35px;
}
.nGContent{
    width: 550px;
}
.groupInfo{
    width: 72%;
    margin-left: 21%;
}
.groupPostsC{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-top: 20px;
}
.chatCtnr{
   
   width: 76%;
   margin-left: 23%;
    
}
.profileCtnr{
    width: 80%;
    margin-left: 21%;
}
.profileTop2{
    h1{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}
.profileBtm{
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
}