/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.app {
  background: #CECECE;
}

.authCtnr {
  background: #CECECE;
  height: 100vh;
}

.authHeader {
  width: 100%;
  height: 80px;
  background: #FB5153;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authBox {
  margin-left: 5vw;
  width: 90vw;
  height: 80vh;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.authInputC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.authInput {
  width: 270px;
  height: 50px;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  margin: 10px 10px;
}

.authBtnC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authHdrBtn {
  display: none;
}

.authBtn {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #49D6EF;
}

.authBtn2 {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #49D6EF;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #FB5153;
}

.logoC {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
}

.logo {
  width: 70px;
}

.mobileBar {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 40px;
  background: white;
  position: fixed;
  top: 65px;
  -webkit-box-shadow: .5px 1.5px 5px 1px;
          box-shadow: .5px 1.5px 5px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.findGroups {
  border-right: 1px solid #ccc;
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
}

.mappedGroups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listGroups {
  background: white;
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-box-shadow: .5px 1.5px 5px 1px;
          box-shadow: .5px 1.5px 5px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listGroups2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fGroupImg {
  width: 50px;
  min-height: 50px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 30px;
}

.fGroupImg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.nameDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.nameDesc h1 {
  font-size: 20px;
  margin: 10px 0;
}

.nameDesc p {
  font-size: 18px;
  margin-right: 10px;
}

.pGroups {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.addGroups {
  width: 50%;
}

.paGroups {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.profileImg {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: fixed;
  right: 20px;
  top: 6px;
  border-radius: 30px;
}

.profileImg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.headerName {
  width: 100%;
  height: 100%;
  border-left: 1.5px solid #ccc;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 5;
  display: none;
}

.name {
  font-size: 25px;
  margin-left: 10%;
  margin-top: 20px;
}

.hdrMenu {
  position: fixed;
  top: 65px;
  right: 0;
  background: #FB5153;
  width: 100px;
}

.hdrMenu2 {
  position: fixed;
  top: -250px;
}

.hdrUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hdrUL li {
  list-style: none;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.navOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navOne h1 {
  border: 1px solid #ccc;
  padding: 20px;
}

.navCtnr {
  width: 50%;
  text-align: center;
}

.mblNav h1 {
  border: 1px solid #ccc;
  padding: 20px;
}

.navMid h1 {
  border: 1px solid #ccc;
  padding: 20px;
}

.navCtnr3 {
  width: 25%;
  text-align: center;
}

.navCtnr2 {
  width: 25%;
  text-align: center;
}

.dsktpNav {
  display: none;
}

.profilePage {
  width: 100%;
  height: 80vh;
}

.profileCtnr {
  margin-top: 15px;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileCtnr2 {
  width: 90%;
  height: 90%;
  background: white;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
}

.profilePageImg {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50px;
}

.profilePageImg img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.profileTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40%;
  margin-top: 5px;
}

.profileTop2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profileBtm {
  margin: 30px;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profileBtn {
  margin-top: 20px;
  width: 200px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #49D6EF;
  font-size: 18px;
}

.profileInput {
  width: 100px;
  height: 15px;
  padding: 12px 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}

.dash {
  -webkit-box-shadow: .5px -1.5px 5px 1px;
          box-shadow: .5px -1.5px 5px 1px;
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: none;
  background: #CECECE;
  margin-top: 110px;
  height: 100%;
}

.postCtnr {
  width: 90%;
  margin-bottom: 80px;
}

.postsCtnr {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 100%;
  background: white;
  margin-left: 5%;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
  min-height: 275px;
  border-top: 5px solid #49D6EF;
}

.postsCtnr img {
  width: 100%;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.cardTitle {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.cardTitle h1 {
  font-size: 20px;
  margin-right: 5px;
}

.cardTitle h2 {
  font-size: 18px;
}

.cardTitle h3 {
  font-size: 16px;
  margin-right: 5px;
}

.cardTitle2 {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardTitle2 h2 {
  font-size: 20px;
  margin-right: 5px;
}

.cardTitle2 h3 {
  font-size: 16px;
  margin-right: 5px;
}

.pCard {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pCard h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pCard p {
  font-size: 16px;
}

.nPostCntnr {
  width: 100%;
  height: 78vh;
}

.newPosts {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5%;
  width: 90%;
  height: 90%;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
}

.newPosts2 {
  margin-left: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nPostTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20%;
  margin-top: 5px;
}

.nPostTop h1 {
  margin-top: 25px;
  font-size: 25px;
}

.nPostImg {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 30px;
}

.nPostImg img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.nPFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.nPFlexMid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nPostInput {
  width: 250px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

.nPostContent {
  width: 250px;
  height: 150px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

.postBtn {
  width: 100px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #49D6EF;
  font-size: 16px;
}

.post {
  width: 100%;
  height: 120vh;
  margin: 0;
}

.post2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.deletePost {
  width: 100px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #49D6EF;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 36%;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
}

.addGroup {
  width: 100%;
  height: 80vh;
}

.newGroup {
  background: white;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 8%;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
}

.nGroupTop {
  height: 25%;
  margin-left: 10px;
}

.addGImg {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50px;
}

.addGImg img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.nGFlex {
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nGFlex p {
  font-size: 18px;
  margin-left: 5px;
  margin-top: 5px;
}

.nGCheck {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.nGFlexMid {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.nGInput {
  width: 250px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

.nGContent {
  width: 250px;
  height: 150px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

.nGBtn {
  width: 150px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #49D6EF;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
}

.group {
  min-height: 80vh;
}

.groupPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupInfo {
  background: white;
  width: 94%;
  min-height: 30vh;
  -webkit-box-shadow: .5px .5px 5px 1px;
          box-shadow: .5px .5px 5px 1px;
  margin-top: 10px;
}

.groupInfoTop {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupImage {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50px;
}

.groupImage img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.groupName {
  margin-bottom: 10px;
}

.groupName h1 {
  font-size: 25px;
}

.groupDesc {
  margin-bottom: 20px;
}

.groupDesc p {
  font-size: 18px;
}

.groupInfoLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
}

.groupPostsC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.chatBtn {
  width: 100px;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #49D6EF;
  font-size: 16px;
  margin-bottom: 10px;
}

.chatCtnr {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatApp {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .app {
    background: #CECECE;
  }
  .authHeader {
    width: 100%;
    height: 10%;
  }
  .mobileBar {
    display: none;
  }
  .authBox {
    margin-left: 5vw;
    width: 90vw;
    height: 80vh;
    margin-top: 50px;
    -webkit-box-shadow: 2px 5px 15px 2px;
            box-shadow: 2px 5px 15px 2px;
  }
  .authLogo {
    width: 33%;
    height: 115px;
    border-right: 1.5px solid #ccc;
    display: inherit;
  }
  .authInputC {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .authHdrBtn {
    display: inherit;
    position: fixed;
    right: 0;
    width: 200px;
    height: 10%;
    border-left: 1.5px solid #ccc;
    border-top: none;
    border-bottom: none;
    background: #FB5153;
  }
  .authHdrBtn p {
    font-size: 30px;
    margin-top: 10px;
  }
  .pHdrBtn {
    position: fixed;
    right: 80px;
    top: 28px;
  }
  .authBtn {
    margin-top: 50px;
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #49D6EF;
  }
  .authBtn2 {
    display: none;
  }
  .header {
    height: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 20% 20 20%;
        grid-template-columns: 33% 20% 20 20%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .logoC {
    display: inherit;
    border-right: 1.5px solid #ccc;
  }
  .findGroups {
    display: inherit;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
    width: 80%;
    border-right: 1.5px solid #ccc;
  }
  .pGroups {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 28px;
  }
  .addGroups {
    display: inherit;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 3;
    width: 60%;
  }
  .headerName {
    display: inherit;
  }
  .hdrMenu {
    position: fixed;
    top: 70px;
    background: #FB5153;
    width: 20%;
    border-top: 1.5px solid #ccc;
  }
  .hdrMenu2 {
    display: none;
  }
  .dash-posts {
    height: 100%;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: none;
    background: #CECECE;
  }
  .navCtnr {
    width: 20%;
  }
  .navCtnr2 {
    width: 78%;
  }
  .dsktpNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mblNav {
    display: none;
  }
  .navOne {
    width: 150px;
    height: 15vh;
    margin-left: 50%;
    height: 20vh;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    border-bottom: 1px solid #ccc;
    border-right: .5px solid black;
  }
  .navOne h1 {
    border: none;
  }
  .navMid {
    margin-left: 15%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ccc;
  }
  .navTwo {
    margin-left: 12%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    border-right: 1px solid #ccc;
    background: white;
  }
  .dash {
    width: 20%;
    height: 95vh;
    border-right: .1px solid #ccc;
    border-top: none;
    position: initial;
  }
  .postsCtnr {
    min-height: 40%;
    margin-top: 20px;
    width: 50%;
    background: white;
    margin-left: 4%;
    -webkit-box-shadow: .5px .5px 5px 1px;
            box-shadow: .5px .5px 5px 1px;
    border-top: 10px solid #49D6EF;
  }
  .cardTitle {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .cardTitle h1 {
    font-size: 18px;
    margin: 0 3px;
  }
  .cardTitle h2 {
    font-size: 15px;
    margin: 0 3px;
  }
  .cardTitle h3 {
    font-size: 12px;
    margin: 0 3px;
    color: grey;
  }
  .cardTitle2 {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .cardTitle2 h2 {
    font-size: 15px;
    margin: 0 3px;
  }
  .cardTitle2 h3 {
    font-size: 12px;
    margin: 0 3px;
    color: grey;
  }
  .pCard {
    height: 20%;
    width: 90%;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .nPostTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 25%;
  }
  .nPFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15%;
  }
  .nPFlexMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */